<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.safetyfeapps">

    <!-- Izin lokasi -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Jika Anda ingin lokasi latar belakang (opsional) -->
    <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->

    <application
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:label="safetyfeapps">
        <!-- ... -->
    </application>
</manifest>